<div class="index-container">
  <ul>
    <li><a href="#auth">Autenticaci贸n y Autorizaci贸n</a></li>
    <ul>
      <li><a href="#auth-auth">Autorizaci贸n de Usuario</a></li>
      <li><a href="#auth-register">Registro de Usuario</a></li>
      <li><a href="#auth-login">Inicio de Sesi贸n de Usuario</a></li>
    </ul>
    <li><a href="#user">Datos de Usuario</a></li>
      <ul>
        <li><a href="#user-user">Obtener Usuario</a></li>
      </ul>
  </ul>
</div>
