<div class="index-container">
  <ul>
    <li><a href="#docs">Inicio</a></li>
    <li><a href="#auth">Autenticación y Autorización</a></li>
    <ul>
      <li><a href="#auth-auth">Autorización de Usuario</a></li>
      <li><a href="#auth-register">Registro de Usuario</a></li>
      <li><a href="#auth-login">Inicio de Sesión de Usuario</a></li>
    </ul>
    <li><a href="#user">Datos de Usuario</a></li>
    <ul>
      <li><a href="#user-user">Obtener Usuario</a></li>
      <li><a href="#user-delete">Eliminar Usuario</a></li>
      <li><a href="#user-change-data">Modificar Información Extra</a></li>
      <li><a href="#user-change-email">Modificar E-mail del Usuario</a></li>
      <li>
        <a href="#user-change-password">Modificar Contraseña del Usuario</a>
      </li>
    </ul>
    <li><a href="#error">Errores Globales</a></li>
    <ul>
      <li><a href="#error-api-key">Api-Key</a></li>
      <li><a href="#error-token">Token</a></li>
      <li><a href="#error-not-found">Ruta Inexistente</a></li>
    </ul>
  </ul>
</div>
