<header class="nav-bar">
  <nav>
    <a href="/" class="btn-home" title="Ir a 'Inicio'">User-Auth</a>
    <menu class="list">
      <li>
        <a id="nav-1" href="/" class="btn-list" title="Ir a 'Inicio'">Inicio</a>
      </li>
      <li>
        <a id="nav-2" href="/docs" class="btn-list" title="Ir a 'Documentaci칩n'"
          >Documentaci칩n</a
        >
      </li>
      <!-- <li>
        <a id="nav-3" href="/about" class="btn-list" title="Ir a 'Ver M치s'"
          >Ver M치s</a
        >
      </li> -->
    </menu>
  </nav>
</header>
