<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../components/head', { title: 'Inicio - User-Auth-API' }) %>
  </head>
  <body>
    <%- include('../components/navbar') %>
    
    <%- include('../components/bootstrap-scripts') %>
  </body>
</html>
