<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../components/head', { title: 'Página no encontrada | User-Auth-API' }) %>
  </head>
  <body class="bg-dark">
    <%- include('../components/navbar') %>

    <div class="text-center pt-5" style="height: 75vh;">
      <div class="container">
        <h1 class="display-1 pt-5 font-weight-bold text-primary">404</h1>
        <h1 class="display-4 pt-1 pb-3 text-light">Página no encontrada</h1>
        <h3 class="font-weight-light text-light">La página a la que quieres acceder no existe</h3>
        <a href="/" class="btn btn-primary mt-3 pt-3 pb-3 pr-4 pl-4">Volver a Inicio</a>
      </div>
    </div>

    <%- include('../components/footer') %> <%- include('../components/bootstrap-scripts') %>
  </body>
</html>