<!DOCTYPE html>
<html lang="en">
  <head>
    [%- include('_components/global-head', { title: 'User-Auth - Documentación'}) %]
  </head>
  <body>
    [%- include('_components/nav-bar') %]
    <main>
      <h1>Error Page</h1>
    </main>
    [%- include('_components/global-script') %]
  </body>
</html>