<!DOCTYPE html>
<html lang="en">
  <head>
    [%- include('_components/global-head', { title: 'User-Auth - Documentación'}) %]
  </head>
  <body>
    [%- include('_components/nav-bar') %]
    <main>
      <div class="index-docs">
        <ul>
          [% for(let link of links) { %]
            <li><a href="[%= link.id %]">[%= link.name %]</a></li>
          [% } %]
        </ul>
      </div>
      <div class="container-docs">
        <h1>Aquí irá la documentación</h1>
      </div>
    </main>
    [%- include('_components/global-script') %]
  </body>
</html>
