<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_components/global-head', {title: 'User-Auth - Error'}) %>
  </head>
  <body>
    <%- include('_components/nav-bar') %>
    <main>
      <h1>Error Page</h1>
      <h1><%= error %></h1>
    </main>

    <!-- Scripts -->
    <%- include('_components/global-script') %>
  </body>
</html>
