<!DOCTYPE html>
<html lang="en">
  <head>
    [%- include('_components/global-head', { title: 'User-Auth - Home'}) %]
  </head>
  <body>
    [%- include('_components/nav-bar') %]
    <main>
      <h1>Home Page</h1>
      <h1>[%= ejemplo %]</h1>
    </main>
    [%- include('_components/footer') %]
    [%- include('_components/global-script') %]
  </body>
</html>
