<!DOCTYPE html>
<html lang="en">
  <head>
    [%- include('_components/global-head', { title: 'User-Auth - Not Found'}) %]
  </head>
  <body>
    [%- include('_components/nav-bar') %]
    <main>
      <h1>Not found Page</h1>
    </main>
    [%- include('_components/footer') %]
  </body>
</html>
