.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  height: 100%;
}

.index-container {
  width: 30%;
}

.docs-container {
  width: 70%;
  padding: 0 20px;
  background-color: #1a1a1a;
  height: 90vh;
  overflow-y: scroll;
}

.title-docs {
  color: #00ffb3;
  font-size: 50px;
  margin: 20px 0 0 0;
  padding: 0;
  text-transform: uppercase;
}

.docs-container::-webkit-scrollbar {
  width: 0;
}

.post {
  color: yellow;
}

.get {
  color: greenyellow;
}

.delete {
  color: red;
}

.put {
  color: blueviolet;
}

.route {
  color: wheat;
}

.status-200 {
  color: green;
}

.status-400 {
  color: red;
}

.primary-line {
  border-color: #00ffb3;
}

.title-section {
  color: #00ffb3;
  text-transform: uppercase;
}

a {
  color: #00ffb3;
}

a:hover {
  cursor: pointer;
}
